.wrap {
  width: 100vw;
  height: 56px;
  background: #fffc;
  backdrop-filter: blur(10px) saturate(0.7);
  box-shadow:
    0 0 32px 0 rgba(0, 0, 0, 0.12),
    inset 0 0 0 1px #0000001f;
  position: fixed;
  z-index: 10;

  & > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;

    & .heading {
      font-weight: bolder;
      font-size: 20px;
    }
    & .button {
      padding: 8px 24px;
      border-radius: 24px;
      background: #0001;
      transition: all 0.1s ease-in;
      font-weight: bolder;

      &:hover {
        background: #0002;
      }
    }
  }
}
