.card {
  padding: 16px;
  flex: 1 1 320px;
  box-shadow:
    0 0 32px 0 rgba(0, 0, 0, 0.12),
    inset 0 0 0 1px #0000001f;
  border-radius: 20px;
  width: 100%;
  min-width: 240px;
  background: #fffc;
  backdrop-filter: blur(10px) saturate(0.7);
  position: relative;
  display: flex;
  flex-direction: column;

  & > .image {
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    border: solid 1px #0000001f;
  }

  & > .info {
    padding: 16px 12px 8px;
    margin: 0 auto;
    max-width: 100%;

    & > .heading {
      display: block;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }

    & > .description {
      display: block;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      line-break: anywhere;
      color: #777;
      font-size: 14px;
    }

    & > .rate {
      position: absolute;
      color: #777;
      right: 12px;
      bottom: 4px;
      font-size: 12px;
    }
  }
}
