.input {
  border-radius: 10px;
  height: 32px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: solid 1px #0001;
  background: #efefef;
  transition: all 0.1s ease-in;

  &:hover {
    background: #e4e4e4;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #0077e6;
    border-color: #0077e6;
    background: #e4e4e4;
  }
}
