.main {
  height: 100vh;
  padding: 64px 16px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 8px;

  & > h1 {
    line-height: 90%;
  }
  .centered {
    position: relative;

    &:after {
      right: 0;
      top: -120px;
      content: "";
      width: 240px;
      height: 240px;
      position: absolute;
      background: radial-gradient(#0016ff43, #0000 70%);
      filter: blur(30px);
      z-index: -1;
    }

    &:before {
      left: 0;
      top: 20px;
      content: "";
      width: 240px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      background: linear-gradient(330deg, #0016ff50, #0000 70%);
      filter: blur(30px);
      z-index: -1;
    }
  }
}
