.main {
  min-height: 100vh;
  padding: 44px 0 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  & > .login {
    background: #fffc;
    backdrop-filter: blur(10px) saturate(0.7);
    width: 100%;
    max-width: 420px;
    padding: 48px 48px 32px;
    border-radius: 24px;
    box-shadow:
      0 0 32px 0 rgba(0, 0, 0, 0.12),
      inset 0 0 0 1px #0000001f;
    box-sizing: border-box;
    position: relative;
    row-gap: 8px;
    display: flex;
    flex-direction: column;

    & > .header {
      margin-bottom: 12px;
    }

    & > .button {
      background: #0088ff;
      border: 0;
      cursor: pointer;
      height: 36px;
      font-size: 14px;
      border-radius: 10px;
      font-weight: bolder;
      color: #fff;
      margin-top: 16px;
      transition: all 0.1s ease-in;

      &:hover {
        background: #0077e6;
      }
    }

    & > .back {
      top: -40px;
      left: 8px;

      position: absolute;
      padding: 8px 16px;
      border-radius: 12px;
      color: #000a;
      cursor: pointer;
      transition: all 0.1s ease-in;
      box-shadow: inset 0 0 0 0 #00000011;

      & > .arrow {
        transition: all 0.1s ease-in;
        position: relative;
        left: 0;
      }

      &:hover {
        background: #0001;
        box-shadow: inset 0 0 0 1px #00000011;

        & > .arrow {
          left: -4px;
        }
      }
    }
  }
}
